<%- include('header') %>

<div class="alert alert-success mt-3">
    <span class="material-symbols-outlined material-icons">
        check_circle
    </span>
    บันทึกการรับชำระเงิน เรียบร้อยแล้ว
</div>

<%- include('footer') %>